<link rel="stylesheet" href="/css/calendar.css" />
<body>
  <div id='calendar' class="calendar"></div>
</body>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    console.log("eventos", eventos);
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      themeSystem: 'bootstrap5', 
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: eventos,
      eventColor: "#FFFF",
      eventClick: function(info) {
        alert('Event: ' + info.event.title);
      }
    });
    calendar.render();
  });
</script>
