<!-- Tabla donde se muestran ausencias / vacaciones / solicitudes -->
<link rel="stylesheet" href="/css/calendar">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<div class="container-scroll" id="idk">
  <table class="table is-fullwidth back" id="requests_table">
  
  </table>
</div>