<!-- Tabla donde se muestran ausencias / vacaciones / solicitudes -->
<table class="table is-fullwidth" id="requests_table">
<<<<<<< HEAD
  
=======

>>>>>>> fa/REQ_29_superadmin_registers_collaborators
</table>



