<div class="level">
    <div class="level-item has-text-centered">
        <div>
            <h1 class="is-size-1 has-text-white"><%= `${total_days}` %></h1>
            <p class="heading">Current<br/>Absences</p>
        </div>
    </div>
</div>