<main class="hero column">
  <section class="hero-body ">
    <div class="container is-widescreen">
      <nav class="columns has-text-centered">
        <h1 class="column is-2">Requests</h1>
        <h1 class="column is-2">Vacations</h1>
        <h1 class="column is-2">Abscences</h1>
        <div class="column is-narrow is-offset-5">
          <i class="bi bi-plus-lg mr-4 subtitle" ></i>
          <i class="bi bi-funnel subtitle"></i>
      </div>
      </nav>
    </div>
    <hr/>
    <table class="table is-fullwidth">
      <thead>
        <tr class="columns">
          <th class="column is-one-quarter">Name</th>
          <th class="column is-2">Start-date</th>
          <th class="column is-2">End-date</th>
          <th class="column is-2">Request-type</th>
          <th class="column is-2">Status</th>
          <th class="column is-1">Action</th>
        </tr>
      </thead>
    </table>
  </section>
</main>