<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <h1 class="is-size-1 has-text-white"><%= `${available_days}/${total_days}` %></h1>
      <p class="heading">Days of <br/>vacations left</p>
    </div>
  </div>
</div>
