<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <h1 class="is-size-1 has-text-white"><%= `${diasDisponibles} / ${diasTotales}` %></h1>
      <div>
        <p class="headingVac">Vacations<br/> left</p>
        <p class="headingVac">Total<br/> vacations</p>
      </div>
    </div>
  </div>
</div>