<div class="column-container">
    <div class="column">
        <p> hola </p>
    </div>
    <div class="column">
        <p> hola </p>
    </div>
    <div class="column">
        <p> hola </p>
    </div>
    <div class="column">
        <p> hola </p>
    </div>
    <div class="column">
        <p> hola </p>
    </div>
    <div class="column">
        <p> hola </p>
    </div>
</div>