<%- include('../views/includes/_header.ejs') %>
<link rel="stylesheet" href="/css/login.css" />
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div
          class="column is-5-tablet is-4-desktop is-3-widescreen is-flex is-justify-content-center is-align-items-center is-flex-direction-column"
        >
          <img class="image column" src="/img/nebula.png" />
          <form action="/log_in" method="POST" class="">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control has-icons-left">
                <% if (error == "user_not_found") {%>
                <input
                  type="email"
                  placeholder="e.g. bobsmith@gmail.com"
                  class="input is-danger"
                  id="email"
                  name="email"
                  required
                />
                <span class="icon is-small is-left is-error">
                  <i class="bi bi-envelope"></i>
                </span>
                <p class="help is-danger">User not found</p>
                <% } else { %>
                <input
                  type="email"
                  placeholder="e.g. bobsmith@gmail.com"
                  class="input"
                  id="email"
                  name="email"
                  required
                />
                <span class="icon is-small is-left is-error">
                  <i class="bi bi-envelope"></i>
                </span>
                <%}%>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <% if (error == "wrong_password") {%>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input is-danger"
                  id="password"
                  name="password"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="bi bi-shield-lock"></i>
                </span>
                <p class="help is-danger">Password incorrect</p>
              </div>
              <%} else {%>
              <div class="control has-icons-left">
                <input
                  type="password"
                  placeholder="*******"
                  class="input"
                  id="password"
                  name="password"
                  required
                />
                <span class="icon is-small is-left">
                  <i class="bi bi-shield-lock"></i>
                </span>
              </div>
              <%}%>
            </div>
            <hr />
            <div class="control has-icons-left">
              <a class="button is-white is-fullwidth" href="/log_in/auth/google"
                >Log in with Google</a
              >
              <span class="icon is-small is-left">
                <img src="/icons/google.webp" class="image is-24x24" />
              </span>
            </div>

            <div class="field is-flex is-justify-content-center">
              <button type="submit" class="button is-half nebula-login">
                Log In
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
