<%- include('../components/nav_bar.ejs') %>
<link rel="stylesheet" href="/css/followUps.css">

<section class="input-container">
  <select id="collaborators" class="line-input dropdown">
    <option value="default" disabled selected>Mauricio López</option>
    <% if (colaboradores.length > 0) { %>
      <% for (let i = 0; i < colaboradores.length; i++) { %>
        <option value="<%= colaboradores[i].id %>">
          <%= colaboradores[i].nombre + " " + colaboradores[i].apellidos %>
        </option>
      <% } %>
    <% } else { %>
        <option disabled>No hay colaboradores disponibles</option>
    <% } %>
  </select>
</section>

<%- include('includes/_footer.ejs') %>
