<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/request_password.css" />
    <title>Reset Password</title>
</head>
<body>
    <div class="background-image"></div>

    <form class="custom-box" action="/log_in/forgot_password" method="POST">
      <h2>Forgotten Password</h2>
      <p>Please submit your e-mail.</p>
  
      <div class="field">
        <label class="label">E-mail</label>
        <div class="control">
          <input class="input" type="email" placeholder="juan@nuclea.solutions" name="email" />
        </div>
      </div>
  
      <button class="button">Submit</button>
    </form>
</body>
</html>
