.cancelButton {
    position: absolute; 
    right: 3vw; 
    top: 3vh;  
    cursor: pointer;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.pop-up-content {
    background-color: #242424;
    padding: 2vw; 
    padding-top: 5vh; 
    border-radius: 5px;
    width: 45vw;  
    height: auto; /* Optional to limit total height */
    overflow-y: auto; /*To be able to scroll if the content is too large*/
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.pop-up-content::-webkit-scrollbar {
    width: 0.5vw;
}
.pop-up-content::-webkit-scrollbar-track {
    background: #242424; 
    border-radius: 10px;
}

.pop-up-content::-webkit-scrollbar-thumb {
    background: #f4f4f4 ; 
    border-radius: 10px;
}


.pop-up-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cell {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 0; 
    margin: 2vh;
}

.subtitleForm {
    font-size: 2vh; 
    display: flex;
    margin-bottom: 0; 
    padding-bottom: 0.4vh; 
    align-items: center;
    gap: 0.8vw; 
}
#modality {
    margin-top: .5rem;
}

.line-input {
    border: none;
    border-bottom: 0.04vh solid #fff; 
    outline: none;
    width: 100%;
    padding: 0.5vh 0; 
    background: transparent;
    font-size: 2vh;
    color: #747474;
    margin-bottom: 2vh; 
}
.search-input {
    border: none;
    border-bottom: 0.04vh solid #fff; 
    outline: none;
    width: 100%;
    padding: 0.5vh 0; 
    background: transparent;
    font-size: 2vh;
    color: white;
    margin-bottom: 2vh; 
    width: 0;
    transition: all 0.1s;
    direction: ltr;
}
.search-bar:hover > .search-input,  
.search-bar:focus-within > .search-input{
    width: 10rem;
}

.input-container {
    width: 100%; 
    margin-top: 0; 
}

.vc{
    margin:3%;
    color:#EEEEEE;
}

.my_buttons {
    width: 100%;
    display: flex;
    justify-content: end;
}

.button.is-save {
    background-color: #59A250; 
    color: #fff; 
    border: none; 
    margin-top: 3vh;
}

.error {
    color: rgb(255, 138, 138);
    display: none;
    font-size: 1.4vh;
    margin-top: 0.1vh; 
    margin-bottom: 0.4vh; 
    text-align: left; 
}

.swal2-confirm.btn-ok {
    background-color: #485FC7; 
    color: white;
    border: none;
}

.swal2-confirm.btn-ok:hover {
    background-color: #304cc7; 
}
.container-scroll{
    width: 84vw;
    height:75vh;
    overflow-y: scroll; 
    overflow-x: hidden;
    border: none;
}

.container-scroll::-webkit-scrollbar {
    width: 0.5vw;
}
.container-scroll::-webkit-scrollbar-track {
    background: #242424; 
    border-radius: 10px;
}

.container-scroll::-webkit-scrollbar-thumb {
    background: #f4f4f4 ; 
    border-radius: 10px;
}


.container-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dateLine {
    text-align: left;
}

select option[disabled] {
    display: none;
}

.ml-6, .mx-6 {
    margin-left: 5.5rem !important;
}

textarea{
    resize:none;
}


textarea::-webkit-scrollbar {
    width: 0.0;
}
textarea::-webkit-scrollbar-track {
    background: #242424; 
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
    background: #f4f4f4 ; 
    border-radius: 10px;
}


textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}