
.sidenav {
  height: 100%;
  width: 4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 1rem 0;
  transition: 0.5s;
  border-right: #eeeeee solid 2px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #242424;
}

.sidenav a span {
  display: none;
  font-size: 1rem;
}
.sidenav:hover a span {
  display: inline;
}

.sidenav:hover {
  width: 165px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}