.cancelButton {
    position: absolute; 
    right: 3vw; /* Cambiado de px a vw para ser responsive */
    top: 3vh;  /* Cambiado de px a vh */
    cursor: pointer;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.pop-up-content {
    background-color: #242424;
    padding: 2vw; /* Cambiado a vw para ser responsivo */
    padding-top: 5vh; /* Cambiado a vh */
    border-radius: 5px;
    width: 45vw;  /* Cambiado de porcentaje a vw */
    height: 78vh; /* Cambiado de porcentaje a vh */
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.cell {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 0; 
    margin: 2vh; /* Cambiado de px a vh */
}

.subtitleForm {
    font-size: 2vh; /* Cambiado de px a vh */
    display: flex;
    margin-bottom: 0; 
    padding-bottom: 0.4vh; /* Cambiado de px a vh */
    align-items: center;
    gap: 0.8vw; /* Cambiado de px a vw */
}

.line-input {
    border: none;
    border-bottom: 0.04vh solid #fff; /* Cambiado a vh */
    outline: none;
    width: 100%;
    padding: 0.5vh 0; /* Cambiado de px a vh */
    background: transparent;
    font-size: 2vh; /* Cambiado de px a vh */
    color: #747474;
    margin-bottom: 2vh; /* Cambiado de px a vh */
}

.input-container {
    width: 100%; 
    margin-top: 0; 
}

.buttons {
    position: relative;
    width: 100%;
    display: flex; /* Añadido flexbox */
    justify-content: flex-end; /* Alinea los elementos al final, es decir, a la derecha */
}

.button.is-save {
    background-color: #59A250; 
    color: #fff; 
    border: none; 
    margin-top: 1vh;
}