* {
  font-family: Montserrat;
}

body, section, table, thead, tr {
  background-color: #242424;
}

body {
  height: 102vh;
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

footer {
  position: absolute; 
  top: 95%;
  right: 0;
  width: 100vw;
}



html,
body,
#app {
  min-height: 105vh;
  max-height: auto;
  background-color: #242424;
}

.pop-up {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-content {
  background-color: #242424;
  padding: 1rem;
  border-radius: 30px;
  width: 40%;
  height: 60%;
}

.hero-body {
  margin-left: 8vw;
  width: 90vw;
  position: relative; 
}

.hidden-row {
  display: none;
}
.dateLine {
  color: #747474; /* Color del texto */
  background: transparent;
  border: none;
  border-bottom: 0.04vh solid #fff;
  outline: none;
  width: 100%;
  padding: 0.5vh 0;
  font-size: 2vh;
  text-align: center;
  margin-bottom: 2vh;
}

.dateLine::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.flex-centered {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.headingVac{
  font-size: 1.5vh;
  display: inline-block;
  margin-right: 1vh;
  margin-left: 1vh; 
}

