  </section>
  </div>
  <footer class="">
    <div class="is-flex is-flex-direction-row-reverse is-align-items-center	mr-2">
      <p class="is-white mr-2">Done by <span class="has-text-weight-bold	">Nebula</span></p>
      <img src="/img/nebula.png" alt="" class="image is-24x24	mr-2">
    </div>
  </footer>
</body>