<script>
    function addCollab() {
        const popup = document.getElementById("pop-up");
        if (popup) {
            popup.style.display = "flex";
        }
    }

    function closePopup() {
        document.getElementById("name").value = null;
        document.getElementById("position").value = ""
        document.getElementById("empresa").value = "";
        document.getElementById("mail-input").value = null;
        document.getElementById("location").value = null;
        document.getElementById("modality").value = "";
        document.getElementById("phone-input").value = null;
        document.getElementById("last-name").value = null;
        document.getElementById("department").value = "";
        document.getElementById("role").value = "";
        document.getElementById("birthday").value = null;
        document.getElementById("entry-date").value = null;
        document.getElementById("rfc-input").value = null;
        document.getElementById("curp-input").value = null;

        // Hide visible errors
        document.getElementById("mail-error").style.display = "none";
        document.getElementById("phone-error").style.display = "none";
        document.getElementById("rfc-error").style.display = "none";
        document.getElementById("curp-error").style.display = "none";


        const popup = document.getElementById("pop-up");
        if (popup) {
            popup.style.display = "none";
        }
    }

    function validateRFC() {
        const rfcInput = document.getElementById("rfc-input");
        const rfcpError = document.getElementById("rfc-error");
        if (rfcInput.value.length < 12 || rfcInput.value.length > 13){
            rfcpError.style.display = "block"; 
        } else {
            rfcpError.style.display = "none";
        }
    }
    
    function validateCURP() {
        const curpInput = document.getElementById("curp-input");
        const curpError = document.getElementById("curp-error");
    
        if (curpInput.value.length !== 18) {
            curpError.style.display = "block"; 
        } else {
            curpError.style.display = "none";
        }
    }

    const rfcInput = document.querySelector('input[placeholder="Insert RFC"]');
    rfcInput.addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
    const curpInput = document.querySelector('input[placeholder="Insert CURP"]');
    curpInput.addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
        
    function validateMail() {    
        const mailInput = document.getElementById("mail-input");
        const mailError = document.getElementById("mail-error");
        
        const validDomains = [
            "@nuclea.solutions",
            "@zigzag.house",
            "@we.page",
            "@mayaprotocol",
            "@moca.app"
        ];

        const input = mailInput.value.trim().toLowerCase();
        const isValid = validDomains.some(domain => input.endsWith(domain));

        if (!isValid) {
            mailError.style.display = "block";
        } else {
            mailError.style.display = "none";
        }
    }

    function validatePhone() {
        const phoneInput = document.getElementById("phone-input");
        const phoneError = document.getElementById("phone-error");
        
        phoneInput.value = phoneInput.value.replace(/\D/g, '');

        if (phoneInput.value.length < 10 || phoneInput.value.length > 15){
            phoneError.style.display = "block"; 
        } else {
            phoneError.style.display = "none";
        }
    }

    const department_select = document.querySelector("#department");

    function selectedCompany(val) {
        const selector = document.querySelector("#department")
        selector.disabled = false
        const options = document.querySelectorAll(".department_option")
        let selected_option;
        options.forEach(o => {
            if (o.id != `option-${val}`) {
                o.disabled = true;
            }
            else {
                o.disabled = false;
            }
        })
    }
    
    function selectedDepartment(val) {
        const s_p = new Map()
        s_p.set("Digital Solutions", ["Digital Solutions Architect", "Chief Information Officer(Manager)"])
        s_p.set("Human Resources", ["Human Resources Manager"])
        s_p.set("Administration", ["Finances and Billing Assistant", "Chief Financial Officer(Manager)"])
        s_p.set("UX/UI", ["UX/UI Designer", "UX/UI Manager"])
        s_p.set("Design", ["Filmmaker", "Motion Graphics Designer", "Web Designer", "Digital Arts Designer", "Chief Design Officer(Manager)"])
        s_p.set("Backend", ["Backend Developer", "Backend Manager"])
        s_p.set("Frontend", ["Frontend Developer", "Frontend Manager"])
        s_p.set("Robotics", ["ML Developer", "Algorithms Developer"])
        s_p.set("Research and Development", ["Fullstack Developer", "FlutterFlow Developer", "Interns/Trainees"])

        const position_select = document.querySelector("#position")
        position_select.disabled = false
        let options = ""
        options += `<option value="" disabled selected>Select Company</option>
                <option value="Chief Financial Officer">Chief Financial Officer</option>
                <option value="Chief Executive Officer">Chief Executive Officer</option>
                <option value="Chief Information Officer">Chief Information Officer</option>
                <option value="Chief Technology Officer">Chief Technology Officer</option>
                <option value="Chief Design Officer">Chief Design Officer</option>` 
        for (const [k, v] of s_p) {
            if (k != val) {
                break
            }

            for (let i = 0; i < v.length; i++) {
                options += `<option value="${v[i]}">${v[i]}</option>`
            }
        }
        position_select.innerHTML = options

    }
    
</script>