<script>
    function addCollab() {
        const popup = document.getElementById("pop-up");
        if (popup) {
            popup.style.display = "flex";
        }
    }

    function closePopup() {
        document.getElementById("name").value = null;
        document.getElementById("position").value = ""
        document.getElementById("empresa").value = "";
        document.getElementById("mail-input").value = null;
        document.getElementById("location").value = null;
        document.getElementById("modality").value = "";
        document.getElementById("phone-input").value = null;
        document.getElementById("last-name").value = null;
        document.getElementById("department").value = "";
        document.getElementById("role").value = "";
        document.getElementById("birthday").value = null;
        document.getElementById("entry-date").value = null;
        document.getElementById("rfc-input").value = null;
        document.getElementById("curp-input").value = null;

        const popup = document.getElementById("pop-up");
        if (popup) {
            popup.style.display = "none";
        }
    }

    function validateRFC() {
        const rfcInput = document.getElementById("rfc-input");
        const rfcpError = document.getElementById("rfc-error");
    
        if (rfcInput.value.length !== 13) {
            rfcpError.style.display = "block"; 
        } else {
            rfcpError.style.display = "none";
        }
    }
    
    function validateCURP() {
        const curpInput = document.getElementById("curp-input");
        const curpError = document.getElementById("curp-error");
    
        if (curpInput.value.length !== 18) {
            curpError.style.display = "block"; 
        } else {
            curpError.style.display = "none";
        }
    }

    const rfcInput = document.querySelector('input[placeholder="Insert RFC"]');
    rfcInput.addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
    const curpInput = document.querySelector('input[placeholder="Insert CURP"]');
    curpInput.addEventListener('input', function() {
        this.value = this.value.toUpperCase();
    });
        
    function validateMail() {    
        const mailInput = document.getElementById("mail-input");
        const mailError = document.getElementById("mail-error");
        const validDomain = /@nuclea\.solutions$/;

            if (!validDomain.test(mailInput.value)) {
                mailError.style.display = "block";
            } else {
                mailError.style.display = "none";
            }
    }

    function validatePhone() {
        const phoneInput = document.getElementById("phone-input");
        const phoneError = document.getElementById("phone-error");
        
        phoneInput.value = phoneInput.value.replace(/\D/g, '');

        if (phoneInput.value.length < 10 || phoneInput.value.length > 15){
            phoneError.style.display = "block"; 
        } else {
            phoneError.style.display = "none";
        }
    }

    






    // function createTableRequests(data) {
    // const table = document.querySelector('#requests_table')
    // let table_content = `<thead>
    // <tr>
    //     <th >Name</th>
    //     <th >Position</th>
    //     <th >Department</th>
    //     <th >Company</th>
    // </tr>
    // </thead>
    // <tbody >`
    //     // Información por cada renglón de la tabla
    //     data.requests[0].forEach((d, idx) => {
    //     table_content += `<tr id='request' key='${idx}'>`;
    //     table_content += `<td>${d.nombre} ${d.apellidos}</td>`
    //     table_content += `<td>${formatDate(d.start)}</td>`
    //     table_content += `<td>${formatDate(d.end)}</td>`
    //     table_content += `<td>${d.tipo_falta}</td>`
    //     if (d.estado == 0) {
    //         table_content += `<td> <p class='status has-background-warning'>Pending...</p></td>`
    //     }
    //     else if (d.estado == 1) {
    //         table_content += `<td> <p class='status has-background-success'>Accepted</p></td>`
    //     }
    //     else if (d.estado == 2) {
    //         table_content += `<td> <p class='status has-background-danger'>Denied</p></td>`
    //     }
    //     table_content += `<td><i class="bi bi-check-circle is-size-5 is-clickable	 has-text-primary mr-4"></i><i class="bi bi-x-circle is-size-5 is-clickable	 has-text-danger"></i></td>`
    //     table_content += '</tr>';
    //     // Contenido desplegable
    //     table_content += `<tr class="additional-row" id="additional-row-${idx}" style="display: none;">
    //                         <td colspan='6'>
    //                             <div class='columns'>
    //                             <div class="column">
    //                                 <p><strong>Type: </strong>${d.tipo_falta}</p>
    //                                 <p>Calendario...</p>
    //                             </div>
    //                             <div class="column">
    //                                 <p><strong>Reason: </strong></p>
    //                                 <p class='has-background-black p-3 box'>${d.descripcion}</p>
    //                                 ${d.evidencia ? 'evidencia' : 'no hay evidencia'}
    //                             </div>
    //                             <div class="column">
    //                                 <p><strong>Location:</strong></p>
    //                                 <p class='is-underlined	'>${d.ubicacion}</p>
    //                             </div>
    //                             </div>
    //                         </td>
    //                         </tr>`;
    //     })
    //     table_content += '</tbody>'
    //     table.innerHTML = table_content

    //     // Añade función para expandir el contenido extra
    //     const entries = document.querySelectorAll('#request')
    //     entries.forEach((node, idx) => {
    //     node.addEventListener('click', (v) => {
    //         const additionalRow = document.getElementById(`additional-row-${idx}`)
    //         if (additionalRow.style.display === "none") {
    //         additionalRow.style.display = "table-row";
    //         } else {
    //         additionalRow.style.display = "none";
    //         }
    //     })
    //     })

    // }

    // // Consulta a db para la información de solicitudes
    // const get_info = (pagination=0, filter=null) => {
    //     const csrf = document.getElementById('_csrf').value
    //     const selected_option = document.querySelector('.selected')
    //     const route = selected_option.innerHTML
    //     fetch(`/requests/${route}`, {
    //     method: 'POST',
    //     headers: {
    //             'Content-Type': 'application/json',
    //             'csrf-token': csrf
    //         },
    //     body: JSON.stringify({
    //         offset: pagination,
    //         filter: filter,
    //     }),
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //     createTableRequests(data)
    //     })
    //     .catch(e => console.log(e))
    // }
    
    // Permite cambiar entre pestañas
    const options = document.querySelectorAll(".option")
    for (let i=0; i<options.length; i++) {
        options[i].addEventListener('click', (b) => {
        options.forEach((element) => {
            element.classList.remove('selected')
        })
        options[i].classList.add('selected')

        get_info()
        })
    }

    const prev_button = document.querySelector("#prev-page");
    const next_button = document.querySelector("#next-page");
    const pagination_value = document.querySelector("#pagination");

    // Cambiar de página / ver los siguientes 10 registros
    prev_button.addEventListener('click', () => {
        pagination_value.value = 
        pagination_value.value - 1 <= 1 ? 1 : pagination_value.value - 1
        
        pagination_value.dispatchEvent(new Event('change'));
    })

    next_button.addEventListener('click', () => {
        pagination_value.value = Number(pagination_value.value) + 1
        
        pagination_value.dispatchEvent(new Event('change'));
    })
    pagination_value.addEventListener('change', (v) => {
        get_info(pagination_value.value-1)
    })
</script>