<<<<<<< HEAD

=======
>>>>>>> fa/REQ_29_superadmin_registers_collaborators
<!-- Tabla donde se muestran active / inactive / faults -->
<table class="table is-fullwidth" id="requests_table">

</table>
<<<<<<< HEAD
=======



>>>>>>> fa/REQ_29_superadmin_registers_collaborators
