<link rel="stylesheet" href="/css/faults.css">
<script>
     function createTableFaults(data) {
      console.log("longitud:",data.faults.length );
      console.log("Datos entrantes", data);
      for (let i = 0; i < data.faults.length; i++) {
            const colaborador = data.faults[i];
            
            // Ahora iteramos sobre las faltas de este colaborador
            for (let j = 0; j < colaborador.faltas.length; j++) {
                const falta = colaborador.faltas[j];
                
                console.log("Motivo de la falta:", falta.motivo);
                console.log("Fecha de la falta:", falta.fecha);
            }
        }  
      const table = document.querySelector('#requests_table')
      let table_content = `<thead>
                            <tr >
                              <th >Name</th>
                              <th >Position</th>
                              <th >Department</th>
                              <th >Company</th>
                              <th> Faults </th>
                              <th style="background-color: #242424">  </th>
                            </tr>
                          </thead>
    <tbody >`
      // Información por cada rengrlón de la tablas
      
      if (data.faults.length <= 0){
        table_content += `<p> No faults commited </p>`
      } else {
          data.faults.forEach((d, idx) => {
            table_content += `<tr id='collab' class='icon-close' key='${idx}'>`;
            table_content += `<td>${d.nombre} ${d.apellidos}</td>`
            table_content += `<td>${d.puesto}</td>`
            table_content += `<td>${d.nombre_departamento} </td>`
            table_content += `<td>${d.nombre_empresa} </td>`
            table_content += `<td>${d.total_faltas} </td>`
            table_content += `<td><i class="bi bi-caret-down-fill" id="icon-${idx}""></i></td>`
            table_content += '</tr>';
            // Contenido desplegable
            table_content += `<tr class="additional-row " id="additional-row-${idx}" style="display: none; ">
                                <td colspan='6'>
                                    <div class="has-background columns" style="padding: 1rem;">
                                        <div class="column">
                                            <p>Date</p>
                                            <hr class="hr-table"/>`
                                           
                                            if (d.faltas && d.faltas.length > 0) {
                                              d.faltas.forEach((falta) => {
                                                const date = new Date(falta.fecha);
                                                table_content += `<p class="container-text">${date.toLocaleDateString()}</p>`;
                                              });
                                            } else {
                                              table_content += `<p class="container-text">No hay registros de faltas</p>`;
                                            }                                    

                      table_content += `</div>

                        <div class="column is-four-fifths">
                            <p>Motive</p>
                            <hr class="hr-table"/>`
                            if (d.faltas && d.faltas.length > 0) {
                              d.faltas.forEach((falta) => {
                                table_content += `<p class="container-text">${falta.motivo}</p>`;
                              });
                            } else {
                              table_content += `<p class="container-text">No hay registros de faltas</p>`;
                            } 
                        table_content += `</div>
                    </div>
                </td>
              </tr>`;
                              
          })
      }
      table_content += '</tbody>'
      table.innerHTML = table_content
      // <button class='ml-6 button is-danger is-rounded has-text-white'>DELETE</button>
  
      // Añade función para expandir el contenido extra
      const entries = document.querySelectorAll('#collab')
      entries.forEach((node, idx) => {
        node.addEventListener('click', (v) => {
          const additionalRow = document.getElementById(`additional-row-${idx}`)
          if (additionalRow.style.display === "none") {
            additionalRow.style.display = "table-row";
          } else {
            additionalRow.style.display = "none";
          }
        })
      })
  
    }
    // Consulta a db para la información de solicitudes
    const get_faults_info = (pagination=0) => {
      const csrf = document.getElementById('_csrf').value
      const selected_option = document.querySelector('.selected')
      const route = selected_option.innerHTML;
      console.log("route: ", route);
      fetch(`/view_collabs/${route}`, {
        method: 'POST',
        headers: {
              'Content-Type': 'application/json',
              'csrf-token': csrf
          },
        body: JSON.stringify({
          offset: pagination,
        }),
      })
      .then(response => response.json())
      .then(data => {
        createTableFaults(data)
      })
      .catch(e => console.error(e))
    }

    const prev_butt = document.querySelector("#prev-page");
    const next_butt = document.querySelector("#next-page");
    const pagination_v = document.querySelector("#pagination");

    // Cambiar de página / ver los siguientes 10 registros
    prev_butt.addEventListener('click', () => {
      console.log("Entro al boton antes");
        pagination_v.value = 
        pagination_v.value - 1 <= 1 ? 1 : pagination_v.value - 1
        
        pagination_v.dispatchEvent(new Event('change'));
    })

    next_butt.addEventListener('click', () => {
      console.log("Entro al boton después");

        pagination_v.value = Number(pagination_v.value) + 1
        
        pagination_v.dispatchEvent(new Event('change'));
    })
    pagination_v.addEventListener('change', (v) => {
        get_info(pagination_v.value-1)
    })
 
  
</script>