<link rel="stylesheet" href="/css/faults.css">
<script>
    function createTableFaults(data) {
      console.log("longitud:",data.faults.length );
      console.log("Datos entrantes", data); 
      const table = document.querySelector('#requests_table')
      let table_content = `<thead>
                            <tr >
                              <th style="background-color: #242424">  </th>
                              <th >Name</th>
                              <th >Position</th>
                              <th >Department</th>
                              <th >Company</th>
                              <th> Faults </th>
                            </tr>
                          </thead>
    <tbody >`
      // Información por cada rengrlón de la tablas
      
      if (data.faults.length <= 0){
        table.innerHTML += `<p style="background-color:#737373; text-align:center; "> No faults commited </p>`
      } else {
          data.faults.forEach((d, idx) => {
            table_content += `<tr id='collab-${idx}' class='icon-close' key='${idx}'>`;
            table_content += `<td><i class="bi bi-caret-down-fill" id="icon-${idx}""></i></td>`
            table_content += `<td>${d.nombre} ${d.apellidos}</td>`
            table_content += `<td>${d.puesto}</td>`
            table_content += `<td>${d.nombre_departamento} </td>`
            table_content += `<td>${d.nombre_empresa} </td>`
            table_content += `<td>${d.total_faltas_colaborador} </td>`
            table_content += '</tr>';
            // Contenido desplegable
            table_content += `<tr class="additional-row " id="additional-row-${idx}" style="display: none; ">
                                <td colspan='6'>
                                    <div class="has-background columns" style="padding: 1rem;">
                                        <div class="column">
                                            <h1>Date</h1>
                                            <hr class="hr-table"/>`
                                           
            if (d.faltas && d.faltas.length > 0) {
              d.faltas.forEach((falta) => {
                const date = new Date(falta.fecha);
                table_content += `<p class="container-text">${date.toLocaleDateString()}</p>`;
              });
            } else {
              table_content += `<p class="container-text">No hay registros de faltas</p>`;
            }                                    

            table_content += `</div>
                      <div class="column is-four-fifths">
                            <h1>Motive</h1>
                            <hr class="hr-table"/>`
                            if (d.faltas && d.faltas.length > 0) {
                              d.faltas.forEach((falta) => {
                                table_content += `<p class="container-text">${falta.motivo}</p>`;
                              });
                            } else {
                              table_content += `<p class="container-text">No hay registros de faltas</p>`;
                            } 
                        table_content += `</div>
                    </div>
                </td>
              </tr>`;
          })
      }
      table_content += '</tbody>'
      table.innerHTML = table_content
      // <button class='ml-6 button is-danger is-rounded has-text-white'>DELETE</button>
  
      const entries = document.querySelectorAll('[id^="collab-"]');
      entries.forEach((node, idx) => {
        node.addEventListener('click', () => {
          const additionalRow = document.getElementById(`additional-row-${idx}`);
          const caret = document.getElementById(`icon-${idx}`);
          const isHidden = additionalRow.style.display === "none";

          additionalRow.style.display = isHidden ? "table-row" : "none";
          caret.classList.toggle('bi-caret-down-fill', !isHidden);
          caret.classList.toggle('bi-caret-right-fill', isHidden);
        });
      })
  
    }
    // Consulta a db para la información de solicitudes
    const get_faults_info = (pagination=0, filter=null) => {
      const csrf = document.getElementById('_csrf').value
      const selected_option = document.querySelector('.selected')
      const route = selected_option.innerHTML;
      console.log("route: ", route);
      fetch(`/view_collabs/${route}`, {
        method: 'POST',
        headers: {
              'Content-Type': 'application/json',
              'csrf-token': csrf
          },
        body: JSON.stringify({
          offset: pagination,
          filter: filter,
        }),
      })
      .then(response => response.json())
      .then(data => {
        if (data.faults.length === 0 && pagination > 0) {
          // Si no hay datos y no estamos en la primera página, retrocede una página
          get_faults_info(pagination - 1);
        } else {
          createTableFaults(data);
        }
      })
      .catch(e => console.error(e))
    }

  
</script>