<script>
    function createHR(data) {
        const indiceRotacion = parseFloat(data.counter[0].contratacionM).toFixed(2);

        let content = `
        <input type="hidden" id="_csrf" value="<%= csrfToken %>">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <h1 class="is-size-1 has-text-white"> ${indiceRotacion}% </h1>`;

        if (data.value == 1) {
            content += `<p class="headingVac" style="text-align: center;"> Monthly </p>`;
        } else if (data.value == 2) {
            content += `<p class="headingVac" style="text-align: center;"> Trimesteral </p>`;
        } else if (data.val == 3) {
            content += `<p class="headingVac" style="text-align: center;"> Semestral </p>`;
        } else {
            content += `<p class="headingVac" style="text-align: center;"> Annually </p>`;
        }

        content += `
                    <div class="metric-wrapper">
                        <p class="headingVac" style="text-align:center; padding-left:1rem;">AVG hiring rate</p>
                        <i class="bi bi-caret-down-fill is-clickable size-icon" id="hiring-rate-icon"></i>
                        <div class="hr-container control" id="HRoptions"> 
                            <div>
                                <label class="radio">
                                    <input type="radio" name="answerHR" value="1"/> Monthly
                                </label><br>
                                <label class="radio">
                                    <input type="radio" name="answerHR" value="2"/> Trimestral
                                </label><br>
                                <label class="radio">
                                    <input type="radio" name="answerHR" value="3"/> Semestral
                                </label><br>
                                <label class="radio">
                                    <input type="radio" name="answerHR" value="4"/> Annually
                                </label><br>
                                <button class="hr-button"> SAVE </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`;

        document.getElementById('hiring-rate-container').innerHTML = content;

        const icon = document.getElementById("hiring-rate-icon");
        icon.addEventListener("click", () => {
            const hRoption = document.getElementById("HRoptions");

            hRoption.style.display = hRoption.style.display === "block" ? "none" : "block";
        });

        const rad = document.querySelectorAll("input[name='answerHR']");
        rad.forEach(radio => {
            radio.addEventListener("input", () => {
                console.log("Valor seleccionado:", radio.value);
            });
        });

        const saveButton = document.querySelector(".hr-button");
        if (saveButton) {
            saveButton.addEventListener("click", (e) => {
                e.preventDefault();
                get_hiring(); 
            });
        }
    }

    const get_hiring = () => {
        const csrf = document.getElementById('_csrf').value;
        const selectedRadio = document.querySelector("input[name='answerHR']:checked");
        const value = selectedRadio ? selectedRadio.value : null;

        fetch('/hiringRate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'x-csrf-token': csrf
            },
            body: JSON.stringify({
                hiring_rate: value,
            }),
        })
        .then(response => response.json())
        .then(data => {
            console.log("Entro al data", data);
            createHR(data);
        })
        .catch(e => {
            console.error("Error en get_hiring:", e);
        });
    };


</script>
