<script>
    function createCounter(data){
        let content = " ";
        content += `
        <input type="hidden" id="_csrf" value="<%= csrfToken %>">
        <div class="level">
            <div class="level-item has-text-centered">
            <div>
                <h1 class="is-size-1 has-text-white"> 100% </h1>
                <div>
                    <div class="metric-wrapper">
                        <p class="headingVac">AVG metric rotation</p>
                        <i class="bi bi-caret-down-fill is-clickable size-icon" id="periodicity"></i>
                        <div class="options-container control" id="options"> 
                            <div>
                                <label class="radio" >
                                    <input type="radio" name="answer" value="1"/>
                                    Monthly
                                </label>
                                <label class="radio" >
                                    <input type="radio" name="answer" value="2"/>
                                    Trimestral
                                </label>
                                <label class="radio" >
                                    <input type="radio" name="answer" value="3" />
                                    Semestral
                                </label>
                                <label class="radio" >
                                    <input type="radio" name="answer" value="4"/>
                                    Yearly
                                </label>
                                <button class="button approve-button">SAVE</button>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
        `
        // Inserta el contenido en un contenedor del DOM
        document.getElementById('metric-rotation-counter').innerHTML = content;

        const icon = document.getElementById("periodicity");
        icon.addEventListener("click", () => {
            const option = document.getElementById("options");
            option.style.display = option.style.display === "block" ? "none" : "block";
        });
        const radios = document.querySelectorAll("input[type='radio']");
        radios.forEach(radio => {
            radio.addEventListener("input", () => {
                console.log("Valor seleccionado:", radio.value);
            });
        });
    }

    const get_info = () => {
    const csrf = document.getElementById('_csrf').value;
    console.log("CSRF: ", csrf);
    const selectedRadio = document.querySelector("input[name='answer']:checked");
    const value = selectedRadio ? selectedRadio.value : null;

    fetch("/metric", {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json',
        'x-csrf-token': csrf
        },
        body: JSON.stringify({
        valor: value,
        }),
    })
    .then(response => response.json())
    .then(data => {
        createCounter(data);
    })
    .catch(e => console.error(e));
    };


    document.addEventListener("DOMContentLoaded", (e) => {
        // if (e.target.matches(".approve-button")) {
            get_info();
        // }
    })

</script>
  